<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping App</title>
  
  <!-- Bootstrap CSS and JS CDN links -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
    body {
      background-color: #bdb76b; /* Change this to your desired background color */
    }
  </style>
  <style>
    /* Customize the color of the Bootstrap navigation bar */
    .navbar-expand-lg {
      background-color: #a9a9a9; /* Change this to your desired navbar background color */
    }
  </style>
</head>
<body>
  <style>
    .btn-outlines-info {
        background-color: #d6aa71; /* Replace with your preferred color code */
        color: #ffffff; /* Text color */
    }
  </style>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/mainhome"><strong>SHOPCo.SHOPPING</strong></a>

      
    </div>
  </nav>